---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Body from '../components/Body.astro';
import Articles from '../components/Articles.tsx'

let title = "guitheengineer's blog";
let description = 'A front end blog';
let permalink = 'https://www.guitheengineer.com';
let allPosts = await Astro.glob('./posts/**/*.md');
allPosts = allPosts.filter(({ frontmatter }) => frontmatter.draft !== true).sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);
---

<html lang="en">

<head>
  <BaseHead {title} {description} {permalink} />
</head>

<Body>
  <Header />
  <main class="mb-32">
    <Articles client:load allPosts={allPosts} />
  </main>
</Body>

</html>