---
export interface Props {
	title: string;
	author: string;
	publishDate: string;
	heroImage: string;
	alt: string;
}

const { title } = Astro.props;
---

<div class="layout">
	<article>
		<div>
			<header class="mb-6">
				<h1 class="text-[33px]">{title}</h1>
			</header>
			<main>
				<slot />
			</main>
		</div>
	</article>
</div>