---
export interface Props {
	post: any;
}

const { post } = Astro.props;
---

<article class="pb-7 mb-8 border-b-2">
	<a class="hover:no-underline" href={post.url}>
		<header class="flex flex-col items-start pb-4 text-left">
			<p class="text-sm">{post.frontmatter.publishDate}</p>

			<h1 class="text-4xl font-bold">{post.frontmatter.title}</h1>
		</header>
		<p>{post.frontmatter.description}</p>
	</a>
</article>